/**Google fonts**/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&family=Urbanist:ital,wght@0,100;0,600;1,100;1,500;1,900&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

/**Non-standard, cautiously use in product env  **/
::-webkit-scrollbar {
  width: 10px;
}
/**Non-standard, cautiously use in product env.  the track (progress bar) of the scrollbar, where there is a gray bar on top of a white bar.**/
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/** the draggable scrolling handle.**/
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
